<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Launchers</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>

<script th:inline="javascript">


    function fillAlreadyExistingValues() {
        console.log("rendering the values from the inline JS");
        var satelliteObject = [[${ satellite }]];
        console.log("rendering the values of the satellite : " + satelliteObject);

        if (satelliteObject == null || !satelliteObject['satelliteId']) {
            console.log("Variable is null");
            return;
        }

        document.getElementById("satelliteIdExistingInput").value = satelliteObject['satelliteId'].toString();
        document.getElementById("countryIdInput").value = satelliteObject['country'].toString();
        document.getElementById("launchedDateInput").value = satelliteObject['launchDate'].toString();
        document.getElementById("massInput").value = satelliteObject['mass'].toString();
        document.getElementById("launcherIdInput").value = satelliteObject['launcher'].toString();
        document.getElementById("satelliteIdExistingInput").disabled = true;


        document.getElementById("satelliteIdExisting").value = satelliteObject['satelliteId'].toString();
    }











</script>


<body style="font-size: 0.8rem">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Rtb-Satellite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/web/launchers">Launchers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/web/satellites">Satellites</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div style="margin-right: 10%; margin-left: 10%;">

        <h1>Add New Satellite</h1>

        <div style="margin: auto;width: 50%;padding: 10px;text-align: center;">
            <i style="color:red">[[${errorMessage}]]</i>
            <i style="color:green">[[${successMessage}]]</i>
        </div>


        <form id="addLauncherForm" method="post" action="/web/satellites/create-satellite">


            <div class="mb-3" th:if="${isUpdate == 1}">
                <label for="satelliteIdExistingInput" class="form-label">Satellite Id</label>
                <input type="text" class="form-control" id="satelliteIdExistingInput" placeholder="BIRD-3E1"
                    name="satelliteIdExisting">
            </div>

            <div class="mb-3" th:if="${isUpdate != 1}">
                <label for="satelliteIdInput" class="form-label">Satellite Id</label>
                <input type="text" class="form-control" id="satelliteIdInput" placeholder="BIRD-3E1" name="satelliteId"
                    required>
            </div>

            <div class="mb-3">
                <label for="countryIdInput" class="form-label">Country</label>
                <input type="text" class="form-control" id="countryIdInput" placeholder="India" name="country" required>
            </div>

            <div class="mb-3">
                <label for="launchedDateInput" class="form-label">Launched Date</label>
                <input type="date" id="launchedDateInput" class="form-control" name="launchDate" required>
            </div>

            <div class="mb-3">
                <label for="massInput" class="form-label">Mass</label>
                <input type="text" id="massInput" class="form-control" placeholder="102" name="mass" required>
            </div>

            <div class="mb-3">
                <label for="launcherIdInput" class="form-label">Launcher</label>
                <input type="text" id="launcherIdInput" class="form-control" placeholder="PSLV-CV2" name="launcherId"
                    required>
            </div>


            <input type="hidden" id="satelliteIdExisting" name="satelliteIdExisting" value="" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>


</body>

</html>


<script>

    fillAlreadyExistingValues();










</script>