<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Launchers</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>

<style>
    .highlight {
        background-color: yellow;
    }
</style>

<body style="font-size: 0.8rem">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Rtb-Satellite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/web/launchers">Launchers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/web/satellites">Satellites</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" id="searchTextInput" type="search" placeholder="Search"
                        aria-label="Search" th:value="${searchText}">
                    <button class="btn btn-outline-success" type="button" th:onclick='applyFilter();'>Search
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div style="margin-right: 10%; margin-left: 10%;">

        <h1>Satellites</h1>

        <div style="margin-right: 0;margin-left: auto;width: 50%;padding: 10px;text-align: center;">
            <button type="button" onclick="window.location.href='/web/add-satellite';" class="btn btn-info"><a
                    class="nav-link">Add New Satellite</a></button>
        </div>


        <div style="margin: auto;width: 50%;padding: 10px;text-align: center;">
            <i style="color:red">[[${errorMessage}]]</i>
            <i style="color:green">[[${successMessage}]]</i>
        </div>


        </br>

        <table class="table table-hover" id="table-data">

            <thead>
                <tr>
                    <th scope="col">Satellite Id</th>

                    <th scope="col">Country</th>
                    <th scope="col">Launch Date</th>
                    <th scope="col">Mass</th>
                    <th scope="col">Launcher</th>

                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>

                </br>
            </thead>

            <tr th:each="satellite, iterStat: ${satellites}">
                <td th:text="${satellite.getSatelliteId()}">BIRD-3E1</td>
                <td th:text="${satellite.getCountry()}">India</td>
                <td th:text="${satellite.getLaunchDate()}">2024-05-09</td>
                <td th:text="${satellite.getMass()}">110</td>
                <td th:text="${satellite.getLauncher()}">PSLV-CV2</td>

                <td>
                    <button type="button" class="btn btn-outline-warning"
                        th:onclick='submitUpdateSatelliteForm([[${satellite.getSatelliteId()}]]);'>Update
                    </button>
                </td>

                <td>
                    <button type="button" class="btn btn-outline-danger"
                        th:onclick='submitDeleteSatelliteForm([[${satellite.getSatelliteId()}]]);'>Delete
                    </button>
                </td>


            </tr>

        </table>

        <input type="hidden" id="currentPageId" name="currentPage" th:value="${currentPage}" />
        <input type="hidden" id="isThisLastPageId" name="currentPage" th:value="${isThisLastPage}" />

        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li id="previousId" class="page-item">
                    <span class="page-link" href="#"
                        th:onclick='redirectToThatPage([[${currentPage}]], -1);'>Previous</span>
                </li>

                <!-- not first page start -->
                <li th:if="${currentPage != 1}" class="page-item"><a class="page-link" href="#"
                        th:onclick='redirectToThatPage([[${currentPage}]], -1);' th:text="${currentPage-1}"></a></li>
                <!-- not first page end -->

                <li class="page-item active">
                    <span class="page-link" th:text="${currentPage}">23<span class="sr-only">(current)</span>
                    </span>
                </li>

                <!-- last page start -->
                <li th:if="${!isThisLastPage}" class="page-item"><a class="page-link" href="#"
                        th:onclick='redirectToThatPage([[${currentPage}]], 1);' th:text="${currentPage+1}">24</a></li>
                <!-- last page end -->

                <li id="nextId" class="page-item">
                    <a class="page-link" href="#" th:onclick='redirectToThatPage([[${currentPage}]], 1);'>Next</a>
                </li>
            </ul>
        </nav>

    </div>


    <form id="updateSatelliteForm" method="post" action="/web/update-satellite">
        <input type="hidden" id="satelliteIdSelectedForUpdate" name="satelliteId" value="">
    </form>

    <form id="deleteSatelliteForm" method="post" action="/web/satellites/delete-satellite">
        <input type="hidden" id="satelliteIdSelectedForDelete" name="satelliteId" value="">
    </form>


</body>

</html>


<script>


    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }

    renderColumns()

    function renderColumns() {

        let currentPage = document.getElementById("currentPageId").value;
        if (currentPage == 1) {
            document.getElementById('previousId').classList.add('disabled');
        }

        let isThisLastPage = document.getElementById("isThisLastPageId").value;
        if (isThisLastPage == 'true') {
            document.getElementById('nextId').classList.add('disabled');
        }

    }

    function redirectToThatPage(currentPage, index) {

        var pageTo = parseInt(currentPage, 10) + parseInt(index, 10)
        console.log("pageTo : " + pageTo);

        var currentUrl = window.location.href;
        console.log("currentUrl : " + currentUrl);

        var newUrl = updateQueryStringParameter(currentUrl, "pageNumber", pageTo);
        console.log("newUrl : " + newUrl);

        window.location.replace(newUrl);

    }


    function submitUpdateSatelliteForm(satelliteId) {
        console.log("Submitting update form for update : " + satelliteId);
        document.getElementById("satelliteIdSelectedForUpdate").value = satelliteId;
        document.getElementById("updateSatelliteForm").submit();
    }



    function submitDeleteSatelliteForm(satelliteId) {

        console.log("Submitting delete form for satelliteId : " + satelliteId);
        document.getElementById("satelliteIdSelectedForDelete").value = satelliteId;

        document.getElementById("deleteSatelliteForm").submit();
    }

    function applyFilter(searchText) {

        var searchText = document.getElementById("searchTextInput").value
        console.log("searchText : " + searchText);

        var currentUrl = window.location.href;
        console.log("currentUrl : " + currentUrl);

        var newUrl = updateQueryStringParameter(currentUrl, "searchText", searchText);
        console.log("newUrl : " + newUrl);

        window.location.replace(newUrl);

    }


    function highlight(text) {
        var inputText = document.getElementById("table-data");
        var innerHTML = inputText.innerHTML;
        var index = innerHTML.indexOf(text);
        if (index >= 0) {
            innerHTML = innerHTML.substring(0, index) + "<span class='highlight'>" + innerHTML.substring(index, index + text.length) + "</span>" + innerHTML.substring(index + text.length);
            inputText.innerHTML = innerHTML;
        }
    }

    <!--    highlight("SLV");-->






</script>